.sidebar {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 25vh;
  margin-top: 50px;
  height: 80vh;
  padding: 30px;
  border-radius: 0px 30px 30px 0px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(0, 0, 0, 0.4) 2.4px 2.4px 3.2px;
  backdrop-filter: blur(1000px);
}

.sidebar h4 {
  color: #083F2D;
  font-weight: 400;
  font-family: Allmathera;
  font-size: 70px;
}

.sidebar li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}

.sidebar li :hover {
  text-decoration: none;
  color: #083F2D;
}

.active {
  box-shadow: rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  width: 18vh;
  padding: 10px;
  border-radius: 10px;
  color: #083F2D;
}

.actived {
  width: 18vh;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.dashboard {
  z-index: 1;
  position: absolute;
  top: 0;
  height: 140vh;
}

.dashboard section {
  background: linear-gradient(to right, #6db69e, #c0e2d7);
  width: 70vw;
  padding: 10px;
  margin: 0 20vw;
  height: 20vh;
  border: 2px solid black;
  border-radius: 30px;
  text-align: center;
  position: absolute;
  top: 80px;
  font-family: Allmathera;
  font-size: 9vh;
  line-height: 10vh;
}

.dashboard header {
  padding: 10px;
  height: 15vh;
  text-align: end;
  width: 100vw;
  border: 3px solid red;
  background-color: #8BD7B3;
}

.dashboard header i {
  font-size: 50px;
  border: 3px solid black;
  color: white;
  border-radius: 50%;
  background-color: green;
  display: inline;
}

.dashboard .widgets {
  display: grid;
  max-width: 70vw;
  margin-left: 20vw;
  position: absolute;
  top: 250px;
  grid-template-columns: 300px 500px 400px;
  column-gap: 10px;
  row-gap: 50px;
  background-color: #c3a9ff;
}

.dashboard .widgets .widget {
  display: flex;
  justify-content: space-between;
}

.dashboard .widgets .blood_pressure {
  border: 3px solid red;
  padding: 10px;
  height: 300px;
  width: 250px;
  border-radius: 20px;
  background-color: #f1a454;
}

.dashboard .widgets .blood_pressure p {
  color: #083F2D;
  font-weight: bold;
}

.dashboard .widgets .blood_pressure h3 {
  color: #7A7171;
  font-weight: bolder;
  text-align: center;
  text-shadow: black -2px 1px 2px;
}

.dashboard .widgets .cholesterol {
  height: 210px;
  width: 420px;
  margin-left: 30px;
  border-radius: 10px;
  padding: 0px 10px;
  overflow: hidden;
  background-color: white;
  border: 3px solid goldenrod;
}

.dashboard .widgets .cholesterol img {
  height: 210px;
  width: 420px;
}

.dashboard .widgets .cholesterol svg > g > g:last-child {
  pointer-events: none;
}

.dashboard .widgets .cholesterol .chart_div g:nth-of-type(3) {
  animation: chart 3s ease-in-out;
}

@keyframes chart {
  0% {
    transform: scaleX(0);
    transform-origin: 62px 10px;
  }
  100% {
    transition: 1s;
    transform: scaleX(1);
    transform-origin: 62px 10px;
  }
}

.dashboard .widgets .blood_sugar {
  height: 350px;
  overflow: hidden;
  border: 3px solid violet;
  width: 250px;
  border-radius: 10px;
  padding-right: 10px;
  background-color: #8E95FF;
}

.dashboard .widgets .blood_sugar img {
  height: 350px;
  width: 250px;
}

.dashboard .widgets .heartbeat {
  max-height: 300px;
  min-width: 610px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: #2a2d33;
}

.dashboard .widgets .heartbeat h3 {
  color: white;
  filter: opacity(0.5);
  font-weight: bolder;
  text-align: center;
  text-shadow: black -2px 1px 2px;
}

.dashboard .widgets .upcoming_appointments {
  border: 3px solid red;
  min-width: 400px;
  padding: 30px;
  height: 300px;
  border-radius: 10px;
  margin-left: 50%;
  background: linear-gradient(#39b2ad, #22d49c);
}

.dashboard .widgets .upcoming_appointments h2 {
  font-family: Allmathera;
  font-size: 14vh;
  line-height: 6vh;
  text-align: center;
}

.dashboard .widgets .upcoming_appointments h4 {
  color: #083F2D;
  font-weight: bolder;
  text-align: right;
}

.dashboard .widgets .upcoming_appointments h3 {
  color: #F2FAFA;
  filter: opacity(0.4);
  font-weight: bolder;
  text-align: center;
  text-shadow: black -2px 1px 2px;
}

.dashboard .widgets .upcoming_appointments h5 {
  border: 3px solid whitesmoke;
  filter: opacity(0.7);
  background-color: #c0e2d7;
  border-radius: 10px;
  padding: 3px;
  display: inline-block;
  margin: 20px 10px;
}

.doctor_container {
  position: absolute;
  top: 0;
  left: 200px;
  display: grid;
  color: black;
  grid-template-columns: auto auto auto;
  row-gap: 100px;
  column-gap: 100px;
  margin: 30px;
}

.doctor_container .doctors_list {
  border: 3px solid green;
  height: 40vh;
  width: 40vh;
  border-radius: 20px;
  background-color: #4ECD6A;
  padding: 10px;
  filter: contrast(0.8);
  text-align: center;
}

.doctor_container .doctors_list :last-child {
  margin-bottom: 100px;
}

.doctor_container .doctors_list h1 {
  font-family: Allmathera;
  font-size: 100px;
  line-height: 70px;
}

.doctor_container .doctors_list h3 {
  color: white;
  text-shadow: black 0px 0px 5px;
}

.doctor_container .doctors_list p {
  color: #C5D0DD;
  font-weight: bold;
}

#chart_div text {
  fill: gray !important;
}

.contact {
  position: absolute;
  left: 40vw;
  top: 15%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  height: 60vh;
  background-color: #FFE3E1;
  color: #7A7171;
}

.contact input, .contact textarea {
  display: list-item;
  margin: 30px;
  width: 300px;
  height: 50px;
  border: none;
  outline-width: 0;
  resize: none;
  background-color: white;
  font-size: 20px;
  border-radius: 15px;
  padding: 10px;
}

.contact textarea {
  height: 100px;
}

.contact button {
  margin: 30px;
}
